DATABASE_URL=postgresql://postgres:PASSWORD@remote-asiatech.runflare.com:31337/DATABASE_NAME
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=365d
REDIS_URL=redis://default:PASSWORD@vph-luu-service:6379/0
KAVENEGAR_API_KEY=your-kavenegar-api-key
KAVENEGAR_OTP_TEMPLATE=vapehero-otp
KAVENEGAR_SENDER=10004346
SMS_TEST_MODE=true
PORT=8080
NODE_ENV=production
FRONTEND_URL=https://vapehero.net,https://vapehero.runflare.run,http://vapehero.net,http://localhost:3000,http://localhost:5173
BACKEND_URL=https://api.vapehero.net,https://api.vapehero.runflare.run
